@import url(./reset.css);

html{
	font-size: 62.5%;
}
body{
	display: grid;
	font: 1.6rem 'Open Sans',sans-serif;
	background-color: #222;
	color: #fcfafa;
}
ul{
	width: 60rem;
	margin: 0 auto;
	line-height:2rem;
	background:#7f7f7f;
	color: #fbfafa;
}
li{
	list-style: none;
}
h1{
	font-weight:3000;
	text-align: center;
}
img{
    width: 30%;
    height: 30%;
}
footer{
	text-align: center;
}